:root {
    --color-lightest: #fff4e6;
    --color-light: #ffe8cc;
    --color-medium: #ffa94d;
    --color-dark: #ff922b;
  }  


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


body {
    color: #252525;
    font-weight: 400;
    min-height: 100vh;
    overflow: hidden;
}
  

.App{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    gap: 2rem;
}

.friendContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.friendItem{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.3rem;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.friendItem:hover{
    background-color: var(--color-light);
}

.profile{
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

.name{
    font-size: 1.2rem;
    font-weight: bold;
}

.summary{
    font-size: 1.1rem;
    margin-top: 3px;
}

.btn{
    background-color: var(--color-dark);
    color: #343a40;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

input,
select {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  transition: 0.3s;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.3rem;
    gap: 1.3rem;
}

.input-container p{
    font-size: 1.4rem;
    font-weight: 500;
}

.calulatorContainer{
    padding: 1.2rem;
    background-color: var(--color-light);
    border-radius: 10px;
    height: fit-content;
}

.buttonContainer{
    text-align: right;
    margin-top: 2rem;
}

.calulatorContainer h1{
    text-transform: uppercase;
    font-size: 1.6rem;
    margin: 1.2rem 1rem;
}

.btn-full{
    display: block;
    width: 100%;
}